<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste-personnes</title>
</head>
<body>
{# sessionflash #}

    {% for message in app.session.flashbag.get('error') %}
        <div>
            {{message}}
        </div>
    {% endfor %}
  {% for personne in personnes %}
    <div>{{personne.name}}</div>
    <div>{{personne.firstname}}</div>
    <div>{{personne.age}}</div>
    <div><a href="{{path('personne.detail',{id: personne.id})}}">Detail</a></div>
  {% endfor %}

  <div>
  {% for i in range(1,nbPage) %}
    <button><a href="{{path('personne.all', {page: i, nb: nb}) }}">{{i}}</a></button>
  {% endfor %}
  </div>
</body>
</html>

